flow.json
[{"id":"37059d318f3243fb","type":"tab","label":"ws-async-exec","disabled":false,"info":"","env":[]},{"id":"edc1c33552b5e1eb","type":"websocket in","z":"37059d318f3243fb","name":"","server":"","client":"f4d1350e8cedf11d","x":120,"y":200,"wires":[["0dbb1f77c503109b"]]},{"id":"a90df210f098b93e","type":"websocket out","z":"37059d318f3243fb","name":"","server":"","client":"f4d1350e8cedf11d","x":450,"y":140,"wires":[]},{"id":"0dbb1f77c503109b","type":"debug","z":"37059d318f3243fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":310,"y":200,"wires":[]},{"id":"522ab3415d14944f","type":"inject","z":"37059d318f3243fb","name":"","props":[],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":140,"wires":[["61ab343d05149234"]]},{"id":"61ab343d05149234","type":"function","z":"37059d318f3243fb","name":"","func":"var isStarted = flow.get('isStarted') || 0;\nif(isStarted) {\n    msg.payload = Math.floor(Math.random() * 45);\n    node.warn(msg);\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":140,"wires":[["a90df210f098b93e"]]},{"id":"4448e7eae8636a36","type":"inject","z":"37059d318f3243fb","name":"stop","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":90,"y":80,"wires":[["a5a9c26fb0b21f0e"]]},{"id":"62e1679dc7a6c0e4","type":"inject","z":"37059d318f3243fb","name":"start","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":90,"y":40,"wires":[["a5a9c26fb0b21f0e"]]},{"id":"a5a9c26fb0b21f0e","type":"function","z":"37059d318f3243fb","name":"isStarted","func":"flow.set(\"isStarted\", msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":60,"wires":[[]]},{"id":"f4d1350e8cedf11d","type":"websocket-client","path":"ws://localhost:8000","tls":"","wholemsg":"true","hb":"0","subprotocol":""}]